<div class="container d-flex  justify-content-center flex-column align-items-center gap-1">
    <h2>Registrarse</h2>

    <form method="post">
        <div class="mb-3 mt-3 d-flex flex-column">
            <label for="email" class="form-label">Correo eléctronico</label>
            <input class="form-control" type="email" id="email" required autofocus placeholder="Correo eléctronico" name="email">
        </div>
        <div class="mb-3 mt-3 d-flex flex-column">
            <label for="name" class="form-label">Nombre</label>
            <input class="form-control" type="text" id="name" required autofocus placeholder="Nombre" name="name" >
        </div>
        <div class="mb-3 mt-3 d-flex flex-column">
            <label for="phone" class="form-label">Número celular</label>
            <input class="form-control" type="text" id="phone" required autofocus placeholder="Número celular" name="phone"  aria-label="password" aria-describedby="basic-addon1">
        </div>
        <div class="mb-3 d-flex flex-column">
            <label for="password" class="form-label">Contraseña (min. 10 digitos)</label>
            <input  class="form-control" id="password" type="password" required placeholder="Contraseña" name="password">
        </div>
        <div class="d-grid gap-2">
            <input  class="btn btn-primary"  type="submit" value="Registrarme">
        </div>
    </form>
 
</div>