<app-navbar-logged></app-navbar-logged>


<div class="container mt-5">

    <!--<button type="button" class="btn btn-success" (click)="onSelectItemCreate()"  >Registrar producto</button>--> 

    <table class="table mt-5 table-hover" >
        <thead class="table-dark">
          <tr class="text-center">
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Email</th>
            <th scope="col">Número</th>
            <th scope="col">Rol</th>
            <th scope="col" *ngIf="perfilObject.rol_id == 3">Ip</th>
            <th scope="col">Verificado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarioObject" class="text-center">
            <td scope="row">{{u.username_usuario}}</td>
            <td scope="row">{{u.nombre_usuario}}</td>
            <td scope="row">{{u.apellidos_usuario}}</td>
            <td scope="row">{{u.email_usuario}}</td>
            <td scope="row">{{u.numero_usuario}}</td>
            <td scope="row">
                <span *ngIf="u.rol_id== 1" title="Bajo nivel" style="font-size:1.5rem"><i class="fa-solid fa-user"></i></span>
                <span *ngIf="u.rol_id== 2" title="Medio nivel" style="font-size:1.5rem"><i class="fa-solid fa-user-tie" ></i></span>
                <span *ngIf="u.rol_id== 3" title="Admin" style="font-size:1.5rem"><i class="fa-solid fa-user-astronaut"></i></span>
            </td>
            <td scope="row" *ngIf="perfilObject.rol_id == 3">
              {{u.ip_public_usuario}}
            </td>
            <td scope="row" > 
                <span *ngIf="u.email_verified== 1"><i class="fa-solid fa-circle text-success" style="font-size:1rem"></i></span>
                <span *ngIf="u.email_verified== 0"><i class="fa-solid fa-circle text-danger" style="font-size:1rem"></i></span>
            </td>

            <td>
              <button type="button" class="btn btn-danger" *ngIf="u.status_usuario== 1 && u.id != perfilObject.id" (click)="onSelectItem(u)">Eliminar</button> &nbsp;
              <!--<button type="button" class="btn btn-info" *ngIf="u.status_usuario== 0">Recuperar</button> &nbsp;-->
              <button type="button" class="btn btn-warning" (click)="onSelectItemEdit(u)">Editar</button>
            </td>
          </tr>
         
        </tbody>
      </table>

</div>


<!-- MODAL EDITAR USUARIO --->

<div class="modal fade" id="usuarioEditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="usuarioEditForm" (ngSubmit)="edit()">
        <div class="modal-body">
            <input type="text" class="form-control" formControlName="username"  [(ngModel)]="usernameUsuario" placeholder="Username"
            [class.is-invalid]="usernameValidate" required >
            <input type="text" class="form-control mt-3" required formControlName="nombre"  [(ngModel)]="nombreUsuario" placeholder="Nombre del usuario"
            [class.is-invalid]="nombreValidate">
            <input type="text" class="form-control mt-3" required formControlName="apellidos"  [(ngModel)]="apellidosUsuario" placeholder="Apellidos del usuario"
            [class.is-invalid]="apellidosValidate">
            <input type="text" class="form-control mt-3" required formControlName="email"  [(ngModel)]="emailUsuario" placeholder="Email del usuario"
            [class.is-invalid]="emailValidate">
            <input type="email" class="form-control mt-3" required formControlName="numero"  [(ngModel)]="numeroUsuario" placeholder="Numero del usuario"
            [class.is-invalid]="numeroValidate">
            <input [type]="perfilObject.rol_id == '3' ? 'text' : 'password'" class="form-control mt-3" required formControlName="ip"  [(ngModel)]="ipUsuario" placeholder="ip del usuario"
            [class.is-invalid]="ipValidate">
            <select class="form-select mt-3" (change)="onSelectRol($event)"  >
              <option disabled>Seleccionar rol</option>
              <option *ngFor="let rol of rolesList" [value]="rol.id" [selected]="rol.id == rolUsuario">
                {{rol.nombre_rol}}
              </option>
            </select>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>